<article id = "user">

	<header>
		<h1><%= @user.name %></h1>
    	<h2><%= mail_to(@user.email) %></h2>
	</header>
	
	<h2>User Roles</h2>
		<% if @user.athlete? %>
			<b>User is an athlete!</b>
		<% end %>
		<% if @user.coach? %>
			<b>User is a coach!</b>
		<% end %>
		<% if @user.admin? %>
			<b>User is an admin!</b>
		<% end %>

	<%= render "show_basics" %>
	
		<% if @user.athlete? %>
<!--				<%= @user.raceregs.count %>

				<% @user.raceregs.each do |r|  %>
				<p><%= r.race.name %>, <%= r.race.race_date %></p>
    		<% end %>-->

    		<%= render "show_races" %>
		<% end %>


	<footer>
		<nav>

			<% if current_user?(@user) %> 
			<%= link_to 'Edit Account', edit_user_path(@user), class: 'button' %> |
			    <%= link_to 'Delete Account', @user, 
                method: :delete, 
                data: { confirm: 'Are you sure you want to permanently delete your account?' },
                class: 'button' %>
            <% end %>

		</nav>
	</footer>
</article>