<ul id="athletes">
	<% @athletes.each do |athlete| %>
<li>
	<article class="athlete" id="<%= dom_id(athlete) %>">
	<header>
		<h2><%= link_to athlete.name, athlete %></h2>
			<%= image_for(athlete) %>
	</header>

	
	<table>
		<tr>
			<th>Birthdate</th>
			<td><%= athlete.birthdate %></td>
		</tr>
		<tr>
			<th>Location</th>
			<td><%= athlete.city %>, <%= athlete.state %></td>
		</tr>
	</table>
	</article>
</li>
<% end %>
</ul>

